@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Check Customer";
}

@model IEnumerable<Prac3_MVC.Models.Customer>
<div class="form">
    <h2>Все заказчики</h2>
    @if (Model.Count() == 0)
    {
        <h3>Заказчиков не найдено</h3>
    }
    else
    {
        <table>
            <tr>
                <td>Id</td>
                <td>Имя</td>
                <td>Возраст</td>
                <td>Номер телефона</td>
                <td>Кол-во заказов</td>
            </tr>


            @foreach (Prac3_MVC.Models.Customer customer in Model)
            {
                <tr>
                    <td>@customer.Id</td>
                    <td>@customer.Name</td>
                    <td>@customer.Age</td>
                    <td>@customer.PhoneNumber</td>
                    <td>@customer.COO</td>
                </tr>
            }
        </table>
    }
</div>